<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Model ve Açıklama</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.id}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.carName}}</td>
    </tr>
</table>